@charset "UTF-8";


.milestone.subpages{
  background-color: #f5f3ec;
}

.Events .left, .Events .right {
    position: relative;
    z-index: 1;
}

.Events_ba{
  display:none;
}

.ev_on{
  display:block;
}

.Events {
    height: 100%;
    position: relative;
    width: 97.2%;
    margin: 0 auto;
}

.Events .left{
  padding-top: 70px;
  width: 49.9%;
}

.Events .right {
    padding-top: 200px;
    width: 50%;
}

.Events .left .time, .Events .right .time {
    width: 90.5%;
    background-color: #fff;
    display: table;
    margin-bottom: 80px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
}

.Events .left .time {
    float: left;
    position: relative;
}

.Events .right .time {
    float: right;
    position: relative;
}



.Events .left .time .txt, .Events .right .time .txt {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    padding: 5px 10px;
    color:#5f5f5f;
}

.Events .left .time .img, .Events .right .time .img {
    width: 42.5%;
    display: table-cell;
    max-width: 0;
}

.Events .left .time .img img, .Events .right .time .img img {
    width: 100%;
    max-height: 303px;
    max-width: 100%;
}

.Events .con {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.Events .con .line {
    width: 1px;
    height: 100%;
    background-color: #d8d8d8;
    margin: 0 auto;
    padding: 8% 0 12%;
}

.Events .con .line span {
    background: #e50011;
    display: block;
    height: 100%;
}

.Events .eve_button {
    clear: both;
    width: 55px;
    margin: 0 auto;
    background: #e50011;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    height: 55px;
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

.wrapper .container{
  padding: 0 25px 30px;
  position: relative;
}

.milestone-container .swiper-slide{
  text-align: center;
  font-size: 1em;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.milestone-container{
  text-align: center;
  position: relative;
  box-shadow: 0 3px 4px 1px rgba(0,0,0,0.2);
  padding-bottom: 10px;
  background-color:white;
}

.milestone-container .swiper-container {
    width: 100%;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    height: 70px;
}

.milestone-container .swiper-slide span{
  color: #5f5f5f;
}
.milestone-container .swiper-slide-active span{
  font-size:22px;
  color: #BE2A27!important;
}

.milestone-container .swiper-slide{
  width:90px;
}


@media (min-width:768px){
  .Events .left .time:before {
      content: '';
      background-image: url(../img/eve_left.png);
      position: absolute;
      width: 13%;
      right: -13%;
      height: 22px;
      background-size: contain;
      background-position: left;
      top: 45%;
      background-repeat: no-repeat;
  }
  .Events .right .time:before {
      content: '';
      background-image: url(../img/eve_right.png);
      position: absolute;
      width: 13%;
      left: -13%;
      height: 22px;
      background-size: contain;
      background-position: right;
      top: 45%;
      background-repeat: no-repeat;
  }
}

@media (max-width:767px){
    .Events .left, .Events .right {
        width:100%;
        padding-top: 0;
    }
    .Events .left, .Events .con, .Events .right {
        float: none;
    }
    .Events .left .time .img, .Events .right .time .img {
        overflow: hidden;
    }
    .Events .left .time .img, .Events .right .time .img {
        display: block;
        width:100%;
        max-width: 100%;
        max-height: 303px;
    }
    .Events .left .time, .Events .right .time {
        width:100%;
        float: none;
        padding-top: 0;
        display: block;
        margin-bottom: 40px;
    }
    .Events .con .line span {
        display: none;
    }
}

@media (min-width:1024px){
  .container {
      width: 1024px;
      padding-left: 0;
      padding-right: 0;
  }
}

@media (max-width: 767px) and (min-width: 480px){
  .Events .left .time, .Events .right .time {
      float: left;
      width: 42%;
      margin: 0 4% 4%;
  }
}

@media only screen and (max-width: 479px){
  .Events .con {
      display: none;
  }
  .Events .left .time .img, .Events .right .time .img {
      text-align: center;
  }
}
