@charset "UTF-8";

#our-health-concept .intro .title{
  margin: 50px 0px 20px;
  color: #BD2A27;
  font-size: 2em;
}

#our-health-concept .subtitle{
  margin: 0px 0px 50px;
  color: #734C1F;
  line-height: 32px;
  opacity: 0.8;
}

#our-health-concept .philosophy .title{
  margin: 25px 40px;
  padding-top: 25px;
  color: #734C1F;
  opacity: 0.8;
}

#our-health-concept .habit-restoration .subtitle{
  color: #734C1F;
  font-size: 1em;
  line-height: 32px;
  opacity: 0.8;
  margin:0px;
}

#our-health-concept .habit-restoration .title{
  font-size:2em;
  color: #734C1F;
  margin:0px;
}

#our-health-concept .background-image.banner{
  background-size: cover;
}

.healthy-life-container .title.main{
  position: absolute;
  top:0px;
  left:50%;
  transform:translate(-50%,150%);
  font-size:3em;
}

.healthy-life-container-mobile .title.main{
  position: absolute;
  top:0px;
  left:50%;
  transform:translate(-50%,150%);
  font-size:2em;
}


.philosophy-container {
  text-align: center;
}

.philosophy-introduction {
  margin-bottom: 50px;
  color: #734C1F;
  font-size: 20px;
  line-height: 36px;
  opacity: 0.8;
}

.philosophy-description-container {
  padding: 60px 30px;
  padding-left: 26px;
  padding-right: 26px;
  margin: 0 5px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

#our-health-concept .philosophy .description-name {
  color: #BD2A27;
  font-weight:bold;
  font-size: 2em;
  line-height: 50px;
}

#our-health-concept .philosophy .description-content {
  color: #734C1F;
  font-size: 1.125em;
  line-height: 32px;
  opacity: 0.8;
}

section#our-health-concept{
  background-color:#f5f3ec;
}



.healthy-life-container {
  position: relative;
  overflow-x: hidden;
  margin-top: 30px;
}

.healthy-life-container-mobile{
  position: relative;
}

.healthy-life-image {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

.healthy-life-image-gif {
  position: absolute;
  top: 220px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1440px;
  height: auto;
}

.habit-restoration-container {
  position: relative;
  text-align: center;
}

.habit-restoration-container::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 1px;
  background-color: #BD2A27;
}

.habit-restoration-container::after {
  top: calc(100% - 120px);
  height: 120px;
}

.habit-restoration-main-title {
  color: #BD2A27;
  margin: 0px auto 60px;
  font-size: 2em;
  line-height: 50px;
}

.habit-restoration-text-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.habit-restoration-text-column-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 75px 0 175px;
  position: relative;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 430px;
}

.habit-restoration-text-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.habit-restoration-text-column-wrapper:first-child::after, .habit-restoration-text-column-wrapper:last-child::before {
  content: '';
  position: absolute;
  top: -75px;
  height: calc(100% + 100px);
  width: 138px;
  border: 18px solid white;
  border-radius: 75px;
  -webkit-box-shadow: inset 0px 0px 16px rgba(12, 0, 0, 0.1);
  box-shadow: inset 0px 0px 16px rgba(12, 0, 0, 0.1);
}

.habit-restoration-text-column-wrapper:first-child::after {
  display: none;
  right: -69px;
}

.habit-restoration-text-column-wrapper:last-child::before {
  left: -69px;
}

.habit-restoration-text-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}

.habit-restoration-text-container:last-child {
  margin-bottom: 0;
}

.habit-restoration-text-column-wrapper:first-child .habit-restoration-text-container {
  margin-right: 100px;
  text-align: right;
}

.habit-restoration-text-column-wrapper:last-child .habit-restoration-text-container {
  margin-left: 100px;
  text-align: left;
}

.habit-restoration-text-column-wrapper:first-child .habit-restoration-text-container::after, .habit-restoration-text-column-wrapper:last-child .habit-restoration-text-container::before {
  content: '';
  position: absolute;
  top: 0;
  width: 35px;
  height: 35px;
  background-color: #F6AB00;
}

.habit-restoration-text-column-wrapper:first-child .habit-restoration-text-container::after {
  right: -57px;
}

.habit-restoration-text-column-wrapper:last-child .habit-restoration-text-container::before {
  left: -57px;
}

.habit-restoration-title {
  color: #734C1F;
  font-weight:bold;
  font-size: 32px;
  line-height: 42px;
}

.habit-restoration-text {
  color: #734C1F;
  font-size: 20px;
  line-height: 36px;
  opacity: 0.8;
}

.contact-us-container {
  padding: 60px 0 75px;
  background-color: #BE2926;
  text-align: center;
}

.contact-us-text {
  margin: 0 250px 30px;
  color: #D3BEAA;
  font-size: 44px;
}

@media (max-width: 991px) {
  #our-health-concept .intro .title{
    margin: 50px 40px 30px;
    line-height: 36px;
  }
  #our-health-concept .subtitle{
    margin: 30px 40px 50px;
    line-height: 22px;
  }

  #our-health-concept .habit-restoration .title{
    line-height: normal!important;
    width:100%!important;
    margin:0px!important;
  }

  #our-health-concept .habit-restoration .subtitle{
    line-height: 24px!important;
    width:100%!important;
    margin:0px!important;
  }

  #our-health-concept .philosophy .title{
    margin: 40px 40px 30px;
    padding-top:25px!important;
    line-height: 36px;
  }

  .description-name{
    font-size: 28px!important;
    line-height: normal!important;
  }
  .description-content{
    font-size: 16px!important;
    line-height: 24px!important;
  }

  .philosophy-container {
    margin: 40px 40px 20px;
  }
  .philosophy-description-container {
    padding: 30px 20px 70px;
    margin: 10px 0;
  }
  .philosophy-description-container:first-child {
    padding-left: 20px;
  }
  .philosophy-description-container:last-child {
    padding-right: 20px;
  }
  .healthy-life-image {
    width: 200%;
    height: auto;
  }
  .healthy-life-image-gif {
    top: 15%;
    width: 90%;
    height: auto;
  }
  .habit-restoration-container::after {
    display: none;
  }
  .habit-restoration-main-title {
    position: absolute;
    left: 50%;
    top: -100px;
    margin: 0;
    font-size: 34px;
    line-height: 36px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -80px;
  }
  .habit-restoration-text-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .habit-restoration-text-column-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 150px 0;
    max-width: none;
  }
  .habit-restoration-text-column-wrapper:first-child {
    padding-left: 40px;
  }
  .habit-restoration-text-column-wrapper:last-child {
    padding-right: 40px;
  }
  .habit-restoration-text-column-wrapper:first-child::after {
    display: block;
  }
  .habit-restoration-text-column {
    min-height: 100px;
  }
  .contact-us-container {
    padding: 30px 40px;
  }
}
  .red-text{
    color:#be2a27;
    font-weight:bold;
}

  .bold-text{
    font-weight:bold;
}

.philosophy-description-hr{
  width:20%;border-color: #bd2a27;border-width:2px;margin-top:10px;margin-bottom:10px;
}
.description-col-width{
  padding:4px;
}

.red-text{
  color: #be2a27;
}
.title-hr{
  border-style: solid;
  border-top:0;
  border-left:0;
  border-right:0;
  border-color:#be2a27;
}


#circular-health-concepts{
    width: 581px;
    height: 581px;
    position: absolute;
    top: 53%;
    left: 48%;
    transform: translate(-49%,-51%);
    background-image: url(/img/Desktop_PH_Dot.png);
    background-repeat: no-repeat;
}

.dot-content div{
  position: relative;
}

@-webkit-keyframes colorChange {
    0%   {background-color: #BE2A27;}
    33%   {background-color: #BE2A27;}
    34%   {background-color: #9AB57D;}
    100%   {background-color: #9AB57D;}
}

@keyframes colorChange {
    0%   {background-color: #BE2A27;}
    33%   {background-color: #BE2A27;}
    34%   {background-color: #9AB57D;}
    100%   {background-color: #9AB57D;}
}

@keyframes disappear {
    0%   {opacity: 1;}
    33%   {opacity: 1;}
    34%   {opacity: 0;}
    100%   {opacity: 0;}
}

@-webkit-keyframes disappear {
    0%   {opacity: 0;}
    5%   {opacity: 1;}
    33%   {opacity: 1;}
    35%   {opacity: 0;}
    100%   {opacity: 0;}
}

.dot{
  border-radius: 50%;
  width: 2.3em;
  height: 2.3em;
  display: block;
  background-color: #9AB57D;
  position: absolute !important;
  left: 0;
  animation: colorChange 6s infinite;
  -webkit-animation: colorChange 6s infinite;
}

.dot-content{
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size:14px;
}

.dot-content div.title{
  color: #BE2A27;
  font-size: 2.3em;
  width: 1em;
  line-height: 1em;
  margin:0px;
}

.dot-content div.description{
  font-size: 1.6em;
  width: 9em;
  line-height: 1.3em;
  color: #7D572D;
}

html[lang=fr] div#dot-1{
  transform: translate(-231%,-200%);
}

html[lang=fr] div#dot-1 .dot{
  transform: translate(708%, 121%);
}

div#dot-1 {
  transform: translate(-231%,-196%);
}

div#dot-1 .dot{
  transform: translate(625%, 121%);
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

div#dot-2 {
  transform: translate(-231%,-8%);
}

div#dot-2 .dot{
  transform: translate(618%, 92%);
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

div#dot-3 {
  transform: translate(148%,-115%);
}

div#dot-3 .dot{
  transform: translate(-135%, 43%);
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}

.dot-content div.underline{
  border-bottom: 1px solid #7D572D;
  width: 12em;
  margin: 1em 0;
  height: 2px;
}

html[lang=zh-cn] .dot-content div.title{
  width: 4em;
}

html[lang=zh-cn] .dot-content div.description{
  width: 6em;
}

html[lang=zh-cn] div#dot-1 {
  transform: translate(-275%,-270%);
}

html[lang=zh-cn] div#dot-1 .dot{
  transform: translate(689%, 24%);
}

html[lang=zh-cn] div#dot-2 {
  transform: translate(-275%,17%);
}

html[lang=zh-cn] div#dot-2 .dot{
  transform: translate(602%, -8%);
}

html[lang=zh-cn] div#dot-3 {
  transform: translate(179%,-100%);
}

html[lang=zh-cn] div#dot-3 .dot{
  transform: translate(-145%, -51%);
}

@media (max-width: 991px){
  div.white.circle{
    background-color: white;
    opacity: 0.6;
    border-radius: 50%;
    height: 51%;
    margin: 1.1em;
  }

  #circular-health-concepts{
    background-size: contain;
    width: 82%;
    height: 82%;
    top: 58%;
    /*top: 39%;
    left: 49%;
    transform: translate(-50%,-50%);*/
    background-image: url(/img/mobile_PH_dot.png);
    transform: translate(-47%,-51%);
  }

  html[lang=zh-cn] div.dot-content {
    transform: translate(-50%,-68%) !important;
  }

  div.dot-content {
    transform: translate(-50%,-83%) !important;
    height: 14.6em;
  }

  .dot-content div.title {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    margin-bottom: -0.5em;
    animation: disappear 6s infinite;
    -webkit-animation: disappear 6s infinite;
  }

  .dot-content div.description {
    text-align: center;
    width: 100%;
    margin-top: -0.6em;
    animation: disappear 6s infinite;
    -webkit-animation: disappear 6s infinite;
  }

  .dot-content div.underline{
    width: 100%;
    margin: 2em 0;
    height: 2px;
  }

  .dot{
    width: 1.4em;
    height: 1.4em;
  }

  div#dot-1 .dot {
      transform: translate(-236%, -50%);
  }

  div#dot-2 .dot{
    transform: translate(-236%, 857%);
  }

  div#dot-3 .dot{
    transform: translate(1318%, 424%);
  }

  html[lang=zh-cn] div#dot-1 .dot{
    transform: translate(-330%, -190%);
  }

  html[lang=zh-cn] div#dot-2 .dot{
    transform: translate(-345%, 699%);
  }

  html[lang=zh-cn] div#dot-3 .dot{
    transform: translate(1234%, 271%);
  }

  html[lang=zh-cn] .dot-content div.title {
    width: 100%;
  }

  html[lang=zh-cn] .dot-content div.description{
    font-size: 2em;
  }

  div#dot-1 .title,
  div#dot-1 .description{
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
  }

  div#dot-2 .title,
  div#dot-2 .description{
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    opacity: 0;
  }

  div#dot-3 .title,
  div#dot-3 .description{
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
    opacity: 0;
  }
}

.healthy-life-container{
  display:block;
}
.healthy-life-container-mobile{
  display:none;
}
@media (max-width:991px){
  .healthy-life-container-mobile{
    display:block;
  }
  .healthy-life-container{
    display:none;
  }
}
#healthy-life-image-mobile{
  position: relative;
  width: 80%;
  top: -121vw;
  left: 10%;
}


@-webkit-keyframes cf3FadeInOut {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

@-moz-keyframes cf3FadeInOut {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

@-o-keyframes cf3FadeInOut {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes cf3FadeInOut {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

#healthy-life-image-mobile img {
  width: 100%;
  position: absolute;
  -webkit-animation-name: cf3FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 15s;

  -moz-animation-name: cf3FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 15s;

  -o-animation-name: cf3FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 15s;

  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
#healthy-life-image-mobile img:nth-of-type(1) {
}
#healthy-life-image-mobile img:nth-of-type(2) {
  -webkit-animation-delay: -10s;
  -moz-animation-delay: -10s;
  -o-animation-delay: -10s;
  animation-delay: -10s;
}
#healthy-life-image-mobile img:nth-of-type(3) {
  -webkit-animation-delay: -5s;
  -moz-animation-delay: -5s;
  -o-animation-delay: -5s;
  animation-delay: -5s;
}
